<mat-sidenav-container class="example-container" autosize [hasBackdrop]="true" style="height:100%">
    <mat-sidenav #sidenav mode="over" class="g-side-nav">

        <app-navopcion></app-navopcion>

    </mat-sidenav>
    <mat-sidenav-content class="g-contenedor">

        <mat-toolbar class="g-toolbar">

            <mat-toolbar-row>
                <span><button type="button" mat-button (click)="sidenav.toggle()">
                    <mat-icon class="example-icon" style="color:white">menu</mat-icon>
                  </button></span>

                <span class="logo-header"><img src="assets/img/logo_rr_2d_b.png" style="max-width:25px;margin-right:15px" class="img-fluid text-center"></span>
                <span class="texto-header text-center">Respuesta Radiofónica</span>

            </mat-toolbar-row>


        </mat-toolbar>

        <div class="containter-fluid" style="height:90%;padding-top:55px">

            <div id="slider_1" class="swiper-container" style="height:38%" *ngIf=" _radioService.reproductor==false ">
                <div class="swiper-wrapper">

                    <div class="swiper-slide" style="background-image:url('assets/slider/91_v2.jpg')">

                    </div>
                    <div class="swiper-slide" style="background-image:url('assets/slider/top_v2.jpg')">

                    </div>
                    <div class="swiper-slide" style="background-image:url('assets/slider/chulos.jpg')">

                    </div>
                    <div class="swiper-slide" style="background-image:url('assets/slider/mia_v2.jpg')">

                    </div>
                    <div class="swiper-slide" style="background-image:url('assets/slider/jefa_v2.jpg')">

                    </div>
                    <div class="swiper-slide" style="background-image:url('assets/slider/noticiero.jpg')">

                    </div>


                </div>
                <!-- Add Pagination -->
                <div id="slider_1-pag" class="swiper-pagination"></div>
            </div>



            <div class="container-top-fijo " [ngStyle]="{'background-image': 'url('+_radioService.image_emisora+')'}" *ngIf="_radioService.reproductor==true">




                <div class="text-right" style="color:#fff;padding-right:15px">
                    <img src="assets/img/pause.png" class="img-fluid" style="max-width:40px" (click)="_radioService.pause_radio()" *ngIf="_radioService.play_radio==true  && _radioService.load==false">
                    <img src="assets/img/play.png" class="img-fluid" style="max-width:40px" (click)="_radioService.continue_radio()" *ngIf="_radioService.play_radio==false && _radioService.load==false">
                    <div class="lds-roller" *ngIf="_radioService.load==true">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>

                </div>
            </div>

            <div class="col-12" *ngIf=" _radioService.reproductor==false ">
                <div class="row " style="padding-bottom:90px; ">

                    <div class="col-xs-12 col-sm-12 mt-2 text-center ">
                        <span class="span-inicio ">Selecciona la emisora que deseas escuchar:</span>
                    </div>


                    <div class="col-12 mt-2 mb-4 ">


                        <div class="row text-center mt-4 ">
                            <div class="col-4 animated ">
                                <img src="assets/img/91_circular.png " class="img-fluid " (click)="_radioService.reproducir( 'dat') ">
                            </div>

                            <div class="col-4 animated ">
                                <img src="assets/img/top_circular.png " class="img-fluid " (click)="_radioService.reproducir( 'top') ">
                            </div>
                            <div class="col-4 ">
                                <img src="assets/img/z_circular.png " class="img-fluid " (click)="_radioService.reproducir( 'laz') ">
                            </div>


                        </div>
                        <div class="row text-center mt-4 ">
                            <div class="col-4 ">
                                <img src="assets/img/93_circular.png " class="img-fluid " (click)="_radioService.reproducir( 'mia') ">
                            </div>

                            <div class="col-4 ">
                                <img src="assets/img/jefa_circular.png " class="img-fluid " (click)="_radioService.reproducir( 'jefa') ">
                            </div>



                            <div class="col-4 ">
                                <img src="assets/img/rr_circular.png " class="img-fluid " (click)="_radioService.reproducir( 'rr') ">
                            </div>

                        </div>

                    </div>


                </div>

            </div>


            <div class="col-12" *ngIf="_radioService.reproductor==true">
                <div class="row" style="padding-bottom:25%;">

                    <div class="col-xs-12 col-sm-12 mt-2 text-center">
                        <span class="span-inicio">Selecciona tu emisora:</span>
                    </div>

                    <div class="col-12">
                        <div *ngFor="let item of emisoras;let i=index;last as last" class="list-emisora">

                            <div class="row">
                                <div class="col-4 text-center">
                                    <img [src]="item.icon" class="img-fluid" style="max-width:100px" (click)="_radioService.reproducir(item.radio)">
                                </div>
                                <div class="col-8">
                                    <h6 class="mb-2 emisora-titulo">{{item.nombre}}</h6>
                                    <p class="emisora-descripcion">{{item.descripcion}}
                                        <p>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>

        <app-mfooter></app-mfooter>


    </mat-sidenav-content>

</mat-sidenav-container>