.list-emisora {
  border-top: 1px solid #161616;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
}

.emisora-titulo {
  color: #161616;
  font-family: 'Roboto';
  font-weight: 700;
}

.emisora-descripcion {
  font-size: 13px;
  color: #161616;
  font-family: 'Roboto';
}

.emisoras-container {
  padding: 20% 15% 10% 15%;
}

.emisoras-container-px {
  padding-top: 265px;
  padding-bottom: 25px;
}

.emisoras-container-px-cir {
  padding-top: 265px;
  padding-bottom: 25%;
}

.carousel-indicators li {
  background-color: #ed1c23 !important;
  height: 10px !important;
    border-radius: 50% !important;
width: 10px !important;
}
.carousel-control-next, .carousel-control-prev {
  color : #ed1c23 !important;
}



@media only screen and (max-width:850px) and (orientation: landscape) {
  .emisoras-container-px {
    padding-top: 130px;

  }
}

.emisoras-container-ls {
  padding: 20% 5% 10% 5%;
}

@media only screen and (max-height: 1050px) {
  .emisoras-container-ls {
    padding: 50% 5% 10% 5%;
  }
}

@media only screen and (max-height: 850px) {
  .emisoras-container-ls {
    padding: 82% 5% 10% 5%;
  }
}

@media only screen and (max-height: 750px) {
  .emisoras-container-ls {
    padding: 70% 5% 15% 5%;
  }
}

@media only screen and (max-height: 650px) {
  .emisoras-container-ls {
    padding: 75% 5% 15% 5%;
  }
}

@media only screen and (max-height: 580px) {
  .emisoras-container-ls {
    padding: 75% 5% 10% 5%;
  }
}

@media only screen and (max-width: 600px) {
  .emisoras-container {
    padding: 75% 15% 30% 15%;
  }
}


.swiper-container {
    width: 100%;
    height: 40%;

}

.swiper-container_1 {
    width: 100%;
    height: 220px;
    margin-top: 55px;
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    background-position: center;
    background-size: cover;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
