.cuadro-programa{

  background-size: cover;
  background-position: center;
  height: 150px;

}
@media only screen and (orientation: landscape){
  .cuadro-programa{

    height: 250px;

  }
}

.prog-titulo{
 font-family:'Roboto';
 font-size:15px;
 font-weight: 500;
 display: block;
 color:#161616;
}

.noticia-tag{
  font-family:'Roboto';
  font-size:15px;
display: block;
  color:#ED1C24;
}
.noticia-contenido{
  margin-top: 10px;
  font-size: 14px;
white-space: pre-wrap;
font-family: 'Roboto';
color:#161616;

text-align: left;

}

.noticia-container{
    padding-top:  360px;
    padding-bottom: 20%;
}
