<mat-sidenav-container class="example-container" autosize [hasBackdrop]="true" style="height:100%">
    <mat-sidenav #sidenav mode="over" class="g-side-nav">

        <app-navopcion></app-navopcion>

    </mat-sidenav>
    <mat-sidenav-content class="g-contenedor">

        <mat-toolbar class="g-toolbar">

            <mat-toolbar-row>


                <span class="return-arrow" (click)="list_promo=false" style="color:#fff" *ngIf="!promo_click && list_promo"><i class="mdi mdi-chevron-left"></i></span>
                <span class="return-arrow" (click)="back_list()" style="color:#fff" *ngIf="promo_click==true && list_promo==true"><i class="mdi mdi-chevron-left"></i></span>
                <span *ngIf="!list_promo && promo_click==false"><button type="button" mat-button (click)="sidenav.toggle()">
              <mat-icon class="example-icon" style="color:white">menu</mat-icon>
            </button></span>

                <span class="logo-header"><img src="assets/img/logo_rr_2d_b.png" style="max-width:25px;margin-right:15px" class="img-fluid text-center"></span>
                <span class="texto-header text-center">Respuesta Radiofónica</span>

            </mat-toolbar-row>


        </mat-toolbar>





        <div class="containter-fluid" style="height:100%;padding-top:55px" *ngIf="promo_click==false">



            <div class="container-top-fijo "  [ngClass]="{'bg-promo': list_promo==false , 'bg-gris-top':list_promo}">

                <!-- <div class="pt-4 text-center " style="color:#161616;" *ngIf="list_promo==false">


                    <h5 class="mt-3 roboto-bold">PROMOCIONES</h5>

                </div> -->

                <div class="col-12" *ngIf="load_init" style="margin-top:210px">
                  <div class="row text-center" >
                    <div class=" col-sm-12 col-lg-12" style="padding:10% 10%">
                      <div class="lds-roller red">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12" *ngIf="block_area && load_init==false" style="margin-top:210px">
                  <div class="row text-center" >
                    <div class=" col-sm-12 col-lg-12" style="padding:10% 10%">
                  <h5>¡Oops! Para ver las promociones es necesario que inicies sesión.</h5>
                    </div>
                  </div>
                </div>


                <div class="pt-2 text-center" *ngIf="list_promo==true && block_area==false">

                    <img [src]="_radioService.emisoras_conf[emisora_select].fondo" class="img-fluid" style="max-height:100px">

                </div>

            </div>




            <div class="col-12" *ngIf="list_promo==false && block_area==false">
                <div class="row" style="padding-bottom:25%;">

                    <div class="col-xs-12 col-sm-12 mt-2 text-center">
                        <span class="span-inicio">Selecciona tu emisora:</span>
                    </div>


                    <div class="col-12 mt-4 mb-4">


                        <div class="row text-center mt-4">
                            <div class="col-4 ">
                                <img src="assets/img/91_circular.png" class="img-fluid" (click)="change_promocion(4)">
                            </div>

                            <div class="col-4 ">
                                <img src="assets/img/top_circular.png" class="img-fluid" (click)="change_promocion(1)">
                            </div>
                            <div class="col-4">
                                <img src="assets/img/z_circular.png" class="img-fluid" (click)="change_promocion(2)">
                            </div>


                        </div>
                        <div class="row text-center mt-4">
                            <div class="col-4">
                                <img src="assets/img/93_circular.png" class="img-fluid" (click)="change_promocion(5)">
                            </div>

                            <div class="col-4">
                                <img src="assets/img/jefa_circular.png" class="img-fluid" (click)="change_promocion(3)">
                            </div>



                            <div class="col-4">
                                <img src="assets/img/rr_circular.png" class="img-fluid" (click)="change_promocion(6)">
                            </div>

                        </div>

                    </div>


                </div>

            </div>


            <div class="container-fluid" style="padding-bottom:25%;height: 65%;overflow-y: scroll;" *ngIf="list_promo" [ngStyle]="{'background-color': _radioService.emisoras_conf[emisora_select].color }">
                <div class="row pb-5">
                    <div class="col-12 text-center mt-2  mb-2">
                        <span class="span-inicio" [ngClass]="{'span-inicio': _radioService.emisoras_conf[emisora_select].tipo=='claro', 'span-inicio-obs': _radioService.emisoras_conf[emisora_select].tipo == 'obscuro'}">Conoce nuestras promociones:</span>
                    </div>

                    <div (click)="imprime();" class="col-4  cuadro-programa" *ngFor="let item of promociones_active; let i =index" [ngStyle]="{'background-image': 'url('+item.imagen+')'}" (click)="ver_promo(item)">

                    </div>

                </div>
            </div>
        </div>



        <div class="containter-fluid" style="padding-top:55px;padding-bottom:25%;" *ngIf="promo_click && block_area==false">



            <div class="container-top-fijo-md " [ngStyle]="{'background-image': 'url('+promo_select.imagen+')'}">
            </div>
            <div class="pt-2 mt-3 text-center" style="z-index:99;  position: absolute; width:100%">
                <img [src]="promo_select.imagen" class="img-fluid" style="max-height:200px">
            </div>


            <div class="col-md-12  text-center " style="padding-top:260px">

                <span class="pro-titulo">{{promo_select.titulo}}</span>
                <span class="noticia-tag">Vigencia del {{promo_select.inicia}} al {{promo_select.termina}}</span>
                <p class="noticia-contenido mt-3 mb-3">{{promo_select.promocion}}</p>
                <p class="noticia-contenido mt-3 mb-3">Bases:<br>{{promo_select.bases}}</p>
                <span class=" btn  btn-rojo-borde" *ngIf="partcipando_active==false && cargando==false" (click)="participar(promo_select.id)">PARTICIPAR</span>

                <div class="col-12 mb-2" *ngIf="cargando">
                    <div class="lds-roller red">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>

                <span class=" btn  btn-gris-borde" *ngIf="partcipando_active">YA ESTAS PARTICIPANDO</span>

            </div>




        </div>



        <app-btn-pausa></app-btn-pausa>
        <app-mfooter></app-mfooter>






    </mat-sidenav-content>

</mat-sidenav-container>
