 .menu-arrow {
   -webkit-transition: -webkit-transform .15s;
   -o-transition: -o-transform .15s;
   transition: transform .15s;
   position: absolute;
   right: 20px;
   display: inline-block;
   font-family: 'Material-Design-Iconic-Font';
   text-rendering: auto;
   line-height: 18px;
   font-size: 16px;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -webkit-transform: translate(0, 0);
   -ms-transform: translate(0, 0);
   -o-transform: translate(0, 0);
   transform: translate(0, 0);
   content: '\f2f9';
 }

 .a-link
{
   text-decoration: none !important;
 }
