<div class="container" style="width:300px">
    <div class="row">
        <div class="col-12 text-left g-opciones-header">
            <span class="titulo-menu">{{user_name}}</span>
            <span class="usuario-menu">{{user_email}}</span>
        </div>

        <div class="col-12 menu-seccion">

            <ul class="list-group ">
                <li class="menu-element" routerLink="/radio" routerLinkActive="active"><a class="a-link"><i class="mdi mdi-radio"></i> <span class="text-menu-item">Radio</span></a> </li>
                <li class="menu-element" routerLink="/noticias" routerLinkActive="active"><a class="a-link"><i class="mdi mdi-file-document"></i><span class="text-menu-item">Noticias</span></a> </li>
                <li class="menu-element" routerLink="/emisoras" routerLinkActive="active"><a class="a-link"><i class="mdi mdi-radio"></i>  <span class="text-menu-item">Emisora</span></a> </li>
                <li class="menu-element" routerLink="/programacion" routerLinkActive="active"><a class="a-link"><i class="mdi mdi-calendar"></i>  <span class="text-menu-item">Programación</span></a> </li>
                <li class="menu-element" routerLink="/podcast" routerLinkActive="active"><a class="a-link"><i class="mdi mdi-microphone"></i> <span class="text-menu-item">Podcast</span></a> </li>

                <li class="menu-element" [attr.aria-expanded]="!galeria_expand" aria-controls="c_galerias" href="#c_galerias" (click)="galeria_expand = !galeria_expand"><a class="a-link"><i class="mdi mdi-image-size-select-actual"></i>  <span class="text-menu-item">Galería</span> <span class="menu-arrow"><i class="mdi mdi-chevron-down"></i></span></a> </li>

                <div class=" mas-menu" id="c_galerias" [ngbCollapse]="galeria_expand" style="padding-left:20px">
                    <li class="menu-element" routerLink="/galeria/photo" routerLinkActive="active">
                        <a class="a-link"> <span class="text-menu-item">Fotos</span></a>
                    </li>
                    <li class="menu-element" routerLink="/galeria/video" routerLinkActive="active">
                        <a class="a-link"> <span class="text-menu-item">Video</span></a>
                    </li>
                </div>

            </ul>
        </div>


        <div class="col-12 menu-seccion-titulo">
            <div class="titulo-seccion-menu">Promociones y cupones</div>

        </div>
        <div class="col-12 menu-seccion">

            <ul class="list-group ">
                <li class="menu-element" routerLink="/cupon" routerLinkActive="active"><a class="a-link"><i class="mdi mdi-tag-heart"></i> <span class="text-menu-item">Cupones</span></a> </li>
                <li class="menu-element" [attr.aria-expanded]="!promo_expand" aria-controls="c_promociones" href="#c_promocion" (click)="promo_expand = !promo_expand"><a class="a-link"><i class="mdi mdi-coin"></i>  <span class="text-menu-item">Promociones</span> <span class="menu-arrow"><i class="mdi mdi-chevron-down"></i></span></a> </li>

                <div class=" mas-menu" id="c_promocion" [ngbCollapse]="promo_expand" style="padding-left:20px">
                    <li class="menu-element" routerLink="/promociones" routerLinkActive="active">
                        <a class="a-link"> <span class="text-menu-item">Todas las promociones</span></a>
                    </li>
                    <li class="menu-element" routerLink="/mispromo" routerLinkActive="active">
                        <a class="a-link"> <span class="text-menu-item">Participando</span></a>
                    </li>
                </div>
            </ul>
        </div>

        <div class="col-12 menu-seccion-titulo">
            <div class="titulo-seccion-menu">Encuestas</div>

        </div>

        <div class="col-12 menu-seccion">

            <ul class="list-group ">
                <li class="menu-element" routerLink="/encuesta" routerLinkActive="active"><a><i class="mdi mdi-check-circle-outline"></i>  <span class="text-menu-item">Encuestas</span></a> </li>


            </ul>
        </div>



        <div class="col-12 menu-seccion-titulo">
            <div class="titulo-seccion-menu">Sesión.</div>

        </div>

        <div class="col-12 menu-seccion">

            <ul class="list-group ">
                <li class="menu-element" (click)="bye_session()" *ngIf="session"><a class="a-link"><i class="mdi mdi-logout" ></i>  <span class="text-menu-item">Cerrar Sesión</span></a> </li>
                <li class="menu-element" routerLink="/acceso" *ngIf="session==false"><a class="a-link"><i class="mdi mdi-login" ></i>  <span class="text-menu-item">Iniciar Sesión</span></a> </li>


            </ul>
        </div>

        <div class="col-12 mt-2">
            <span style="font-size:12px">1.1.11</span>
        </div>






    </div>
</div>