.noticia-titulo{
 font-family:'Roboto';
 font-size:15px;
 font-weight: 500;
 display: block;
 color:#161616;
}

.noticia-tag{
  font-family:'Roboto';
  font-size:15px;

  color:#ED1C24;
}
.noticia-contenido{
  margin-top: 10px;
white-space: pre-wrap;
font-family: 'Roboto';
color:#161616;

text-align: justify;

}

.noticia-container{
    padding-top:  270px;
    padding-bottom: 20%;
}

@media only screen and (max-width:850px) and (orientation: landscape) {
  .noticia-container{
      padding-top:  130px;
      padding-bottom: 10%;
  }
}
