<mat-sidenav-container class="example-container" autosize [hasBackdrop]="true" style="height:100%">
    <mat-sidenav #sidenav mode="over" class="g-side-nav">

        <app-navopcion></app-navopcion>

    </mat-sidenav>
    <mat-sidenav-content class="g-contenedor">

        <mat-toolbar class="g-toolbar">

            <mat-toolbar-row>
                <span routerLink="/noticias/todas">
              <i class="mdi mdi-chevron-left" style="color:white;font-size:30px"></i>
          </span>
                <span class="logo-header"><img src="assets/img/logo_rr_2d_b.png" style="max-width:25px;margin-right:15px;margin-left:10%" class="img-fluid text-center"></span>
                <span class="texto-header text-center">Respuesta Radiofónica</span>

            </mat-toolbar-row>


        </mat-toolbar>

        <div class="containter" style="height:90%">


            <div class="contenedor-principal-p" [ngStyle]="{'background-image': 'url('+noticia.imagen+')'}">


            </div>

            <div class="container noticia-container">




                <span class="noticia-tag">{{noticia.resumen}}</span>
                <hr style="color:#161616">

                <span class="noticia-titulo">{{noticia.titulo}}</span>
                <span class="noticia-tag">{{noticia.created_at}}</span>



                <p class="noticia-contenido">{{noticia.contenido}}</p>



            </div>






        </div>


        <app-btn-pausa></app-btn-pausa>
        <app-mfooter></app-mfooter>


    </mat-sidenav-content>

</mat-sidenav-container>