

.span-input-titu{
  color:#ed1c23;
  font-size:15px;
  font-weight:normal;
  margin-bottom: 10px;
  text-align: left !important;
  pointer-events:none;
  left:5px;
  margin-top: 0px;
  display: block;

}

.group_2{
  position:relative;
  margin-top:15px;
}

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}    .select select {
        font-family: 'Roboto';
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 7px 10px;
        outline: 0;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #ed1c23;
        border-radius: 0px;
        background: transparent;
        color: 161616;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        .select select::-ms-expand {
            display: none;
        }
        .select select:hover,
        .select select:focus {
            color: #161616;
            background: transparent;
        }
        .select select:disabled {
            opacity: 0.4;
            pointer-events: none;
        }
.select_arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: #ed1c23 transparent transparent transparent;
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-top-color: #ed1c23;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}
