<div class="container-acceso-h text-center">
  <div class="container-fluid" style="position:relative;z-index:999">


    <div class="row">
      <span class="return-arrow" routerLink="/acceso"><i class="mdi mdi-arrow-left"></i></span>
      <div class="col-sm-12 col-lg-12 mt-2 text-center">
        <img src="assets/img/logo_rr.png" class="img-fluid" style="max-width:120px">
      </div>

      <div class="col-sm-12 col-lg-12 mt-3 text-center">
        <div class="row">
          <div class=" col-sm-12 col-lg-12" style="padding:0 10%">
            <span class="span-inicio ">Mis datos:</span>
            <div class="group mt-3" style="width:100%">
              <input type="text" required [(ngModel)]="user.name">
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Nombre completo:</label>
            </div>
            <div class="group" style="width:100%">
              <input type="text" required [(ngModel)]="user.email">
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>E-mail:</label>
            </div>
            <div class="group" style="width:100%">
              <input type="password" required [(ngModel)]="user.pass">
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Contraseña:</label>
            </div>


            <div class="group_2" style="width:100%">
              <span class="span-input-titu">Fecha de nacimiento:</span>
              <div class="row ">
                <div class="col-12">
                  <input placeholder="DD/MM/AAAA" [(ngModel)]="dateTime" [owlDateTimeTrigger]="dt" [owlDateTime]="dt">
                  <owl-date-time #dt [pickerType]="'calendar'"></owl-date-time>
                </div>

              </div>
            </div>
            <div class="group_2" style="width:100%">
              <span class="span-input-titu">Genero: </span>
              <div class="row ">
                <div class="col-4">
                  <button class="btn-sm btn-blanco-auto" [ngClass]="{active: user.genero==''}" (click)="user.genero=''">omitir</button>
                </div>
                <div class="col-4">
                  <button class="btn-sm btn-blanco-auto" [ngClass]="{active: user.genero=='F'}" (click)="user.genero='F'">F</button>
                </div>
                <div class="col-4">
                  <button class="btn-sm btn-blanco-auto " [ngClass]="{active: user.genero=='M'}" (click)="user.genero='M'">M</button>
                </div>

              </div>
            </div>
            <div class="group_2" style="width:100%">
              <span class="span-input-titu">Estado: </span>
              <div class="select">
                <select [(ngModel)]="user.estado">
            <option *ngFor="let estado of estados" [value]="estado.name">{{estado.name}}</option>

        </select>
                <div class="select_arrow">
                </div>
              </div>
            </div>
            <div class="group_2" style="width:100%">
              <div class="row">
                <div class="col-6">
                  <button routerLink="/acceso" class="btn btn-blanco btn-block">Cancelar</button>
                </div>
                <div class="col-6">
                  <button class="btn btn-inicio-rojo btn-block" (click)="set_user()">Guardar</button>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>


    </div>
  </div>
</div>
