.fab {
    width: 50px;
    height: 50px;
    background-color: #ED1C23;
    border-radius: 50%;
    box-shadow: 0 2px 6px 0 #666;
    transition: all 0.1s ease-in-out;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 50px;
    position: fixed;
    right: 15px;
    bottom: 90px;
}