<mat-sidenav-container class="example-container" autosize [hasBackdrop]="true" style="height:100%">
    <mat-sidenav #sidenav mode="over" class="g-side-nav">

        <app-navopcion></app-navopcion>

    </mat-sidenav>
    <mat-sidenav-content class="g-contenedor">

        <mat-toolbar class="g-toolbar">

            <mat-toolbar-row>


                <span class="return-arrow" (click)="back_list()" style="color:#fff" *ngIf="promo_click"><i class="mdi mdi-chevron-left"></i></span>
                <span *ngIf="list_promo && promo_click==false"><button type="button" mat-button (click)="sidenav.toggle()">
              <mat-icon class="example-icon" style="color:white">menu</mat-icon>
            </button></span>

                <span class="logo-header"><img src="assets/img/logo_rr_2d_b.png" style="max-width:25px;margin-right:15px" class="img-fluid text-center"></span>
                <span class="texto-header text-center">Respuesta Radiofónica</span>

            </mat-toolbar-row>


        </mat-toolbar>

        <div class="containter-fluid" style="height:100%;padding-top:55px" *ngIf="promo_click==false">



            <div class="container-top-fijo bg-gris-top">

                <div class="pt-4 text-center " style="color:#161616;">


                    <h5 class="mt-3 roboto-bold">ENCUESTAS</h5>

                </div>

                <div class="col-12" *ngIf="load_init" style="margin-top:210px">
                  <div class="row text-center" >
                    <div class=" col-sm-12 col-lg-12" style="padding:10% 10%">
                      <div class="lds-roller red">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12" *ngIf="block_area && load_init==false" style="margin-top:210px">
                  <div class="row text-center" >
                    <div class=" col-sm-12 col-lg-12" style="padding:10% 10%">
                    <h5>¡Oops! Para ver las encuestas  es necesario que inicies sesión.</h5>
                    </div>
                  </div>
                </div>

            </div>


            <div class="container-fluid" style="padding-bottom:25%;" *ngIf="list_promo && block_area==false">
                <div class="row pb-5">
                    <div class="col-12 text-center mt-2  mb-2">
                        <span class="span-inicio">Ayúdanos respondiendo a nuestras encuestas:</span>
                    </div>

                    <div class="col-12  cuadro-programa" *ngFor="let item of encuestas; let i =index" [ngStyle]="{'background-image': 'url('+item['encuesta'].imagen+')'}" (click)="ver_promo(item)">

                    </div>

                </div>
            </div>
        </div>



        <div class="containter-fluid" style="padding-top:55px;padding-bottom:25%;" *ngIf="promo_click && block_area==false">



            <div class="col-12  cuadro-programa" [ngStyle]="{'background-image': 'url('+encuesta_select['encuesta'].imagen+')'}"></div>



            <div class="col-md-12  text-center " style="padding-top:10px">
                <span class="prog-titulo">{{encuesta_select['encuesta'].titulo}}</span>
            </div>

            <div class="col-md-12 text-left mt-3 mb-3" *ngFor="let item_p of encuesta_select['preguntas'];let indexp = index; trackBy:customTrackBy">
                <div class="row">

                    <div class="col-1">
                        <span class="prog-titulo">{{indexp+1}}  </span>
                    </div>

                    <div class="col-11">
                        <div class="row">
                            <div class="col-12">
                                <span class="prog-titulo">{{item_p.pregunta}}</span>
                            </div>


                        </div>

                    </div>


                    <div class="col-12 pt-2 pb-2" *ngFor="let item_r of item_p['respuestas'];let indexr = index; trackBy:customTrackBy" [ngClass]="{'resp-select': encuesta_send.preguntas[indexp].id_respuesta==item_r.id }" (click)="encuesta_send.preguntas[indexp].id_respuesta=item_r.id">

                        <div class="row">
                            <div class="col-1">

                            </div>

                            <div class="col-11">
                                {{item_r.respuesta}}
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="col-12 mb-2 text-center" *ngIf="cargando">
                <div class="lds-roller red">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>


            <div class="col-md-12  text-center " *ngIf="cargando==false">
                <span class=" btn  btn-rojo-borde" (click)="send_encuesta()">ENVIAR</span>

            </div>










        </div>




        <app-mfooter></app-mfooter>






        <app-btn-pausa></app-btn-pausa>
    </mat-sidenav-content>

</mat-sidenav-container>
