<mat-sidenav-container class="example-container" autosize [hasBackdrop]="true" style="height:100%">
    <mat-sidenav #sidenav mode="over" class="g-side-nav">

        <app-navopcion></app-navopcion>

    </mat-sidenav>
    <mat-sidenav-content class="g-contenedor">

        <mat-toolbar class="g-toolbar">

            <mat-toolbar-row>


                <span class="return-arrow" (click)="back_list()" style="color:#fff" *ngIf="promo_click"><i class="mdi mdi-chevron-left"></i></span>
                <span *ngIf="list_promo && promo_click==false"><button type="button" mat-button (click)="sidenav.toggle()">
              <mat-icon class="example-icon" style="color:white">menu</mat-icon>
            </button></span>

                <span class="logo-header"><img src="assets/img/logo_rr_2d_b.png" style="max-width:25px;margin-right:15px" class="img-fluid text-center"></span>
                <span class="texto-header text-center">Respuesta Radiofónica</span>

            </mat-toolbar-row>


        </mat-toolbar>

        <div class="containter-fluid" style="height:100%;padding-top:55px" *ngIf="promo_click==false">



            <div class="container-top-fijo bg-promo">

                <!-- <div class="pt-4 text-center " style="color:#161616;">


                    <h5 class="mt-3 roboto-bold">MIS PROMOCIONES</h5>

                </div> -->

                <div class="col-12" *ngIf="load_init" style="margin-top:210px">
                  <div class="row text-center" >
                    <div class=" col-sm-12 col-lg-12" style="padding:10% 10%">
                      <div class="lds-roller red">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12" *ngIf="block_area && load_init==false" style="margin-top:210px">
                  <div class="row text-center" >
                    <div class=" col-sm-12 col-lg-12" style="padding:10% 10%">
                    <h5>¡Oops! Para ver tus promociones es necesario que inicies sesión.</h5>
                    </div>
                  </div>
                </div>

            </div>


            <div class="container-fluid" style="padding-bottom:25%;" *ngIf="list_promo && block_area==false">
                <div class="row pb-5">
                    <div class="col-12 text-center mt-2  mb-2">
                        <span class="span-inicio">Promociones en las que estoy participando:</span>
                    </div>

                    <div class="col-4  cuadro-programa" *ngFor="let item of promociones; let i =index" [ngStyle]="{'background-image': 'url('+item.imagen+')'}" (click)="ver_promo(item)">

                    </div>

                </div>
            </div>
        </div>



        <div class="containter-fluid" style="padding-top:55px;padding-bottom:25%;" *ngIf="promo_click && block_area==false">



            <div class="container-top-fijo-md " [ngStyle]="{'background-image': 'url('+promo_select.imagen+')'}">
            </div>
            <div class="pt-2 mt-3 text-center" style="z-index:99;  position: absolute; width:100%">
                <img [src]="promo_select.imagen" class="img-fluid" style="max-height:200px">
            </div>


            <div class="col-md-12  text-center " style="padding-top:260px">

                <span class="pro-titulo">{{promo_select.titulo}}</span>
                <span class="noticia-tag">Vigencia del {{promo_select.inicia}} al {{promo_select.termina}}</span>
                <p class="noticia-contenido mt-3 mb-3">{{promo_select.promocion}}</p>
                <p class="noticia-contenido mt-3 mb-3">Bases:<br>{{promo_select.promocion}}</p>

                <span class=" btn  btn-gris-borde" *ngIf="promo_select.ganador=='no'">YA ESTAS PARTICIPANDO</span>
                <span class="noticia-tag" *ngIf="promo_select.ganador=='si'">¡Felicidades has ganado!</span>
                <p class="noticia-contenido mb-3" *ngIf="promo_select.ganador=='si'">{{promo_select.premio}}</p>

            </div>




        </div>



        <app-btn-pausa></app-btn-pausa>
        <app-mfooter></app-mfooter>






    </mat-sidenav-content>

</mat-sidenav-container>
