<mat-sidenav-container class="example-container" autosize [hasBackdrop]="true" style="height:100%">
    <mat-sidenav #sidenav mode="over" class="g-side-nav">

        <app-navopcion></app-navopcion>

    </mat-sidenav>
    <mat-sidenav-content class="g-contenedor">

        <mat-toolbar class="g-toolbar">

            <mat-toolbar-row>

                <span class="return-arrow" (click)="reset_locutor()" style="color:#fff" *ngIf="_radioService.list_podcast"><i class="mdi mdi-chevron-left"></i></span>

                <span *ngIf="_radioService.list_podcast==false"><button type="button" mat-button (click)="sidenav.toggle()">
              <mat-icon class="example-icon" style="color:white">menu</mat-icon>
            </button></span>

                <span class="logo-header"><img src="assets/img/logo_rr_2d_b.png" style="max-width:25px;margin-right:15px" class="img-fluid text-center"></span>
                <span class="texto-header text-center">Respuesta Radiofónica</span>

            </mat-toolbar-row>


        </mat-toolbar>

        <div class="containter-fluid" style="height:100%;padding-top:55px" *ngIf="_radioService.list_podcast==false">



            <div class="container-top-fijo bg-gris-top">

                <div class="pt-4 text-center " style="color:#161616;">


                    <h5 class="mt-3 roboto-bold">PODCASTS</h5>

                </div>





            </div>

            <div class="col-12">
                <div class="row" style="padding-bottom:25%;" *ngIf="_radioService.list_podcast==false">

                    <div class="col-xs-12 col-sm-12 mt-2 text-center">
                        <span class="span-inicio">Selecciona tu emisora:</span>
                    </div>


                    <div class="col-12 mt-4 mb-4">


                        <div class="row text-center mt-4">
                            <div class="col-4 ">
                                <img src="assets/img/91_circular.png" class="img-fluid" (click)="change_podcast(4)">
                            </div>

                            <div class="col-4 ">
                                <img src="assets/img/top_circular.png" class="img-fluid" (click)="change_podcast(1)">
                            </div>
                            <div class="col-4">
                                <img src="assets/img/z_circular.png" class="img-fluid" (click)="change_podcast(2)">
                            </div>


                        </div>
                        <div class="row text-center mt-4">
                            <div class="col-4">
                                <img src="assets/img/93_circular.png" class="img-fluid" (click)="change_podcast(5)">
                            </div>

                            <div class="col-4">
                                <img src="assets/img/jefa_circular.png" class="img-fluid" (click)="change_podcast(3)">
                            </div>



                            <div class="col-4">
                                <img src="assets/img/rr_circular.png" class="img-fluid" (click)="change_podcast(6)">
                            </div>

                        </div>

                    </div>


                </div>

            </div>



            <!-- <div class="container-fluid" style="padding-bottom:100px;" *ngIf="_radioService.list_podcast==false">
        <div class="row">
          <div class="col-12 mt-2 mb-2 text-center">
            <span class="span-inicio">Escucha a tu locutor favorito:</span>
          </div>

          <div class="col-4  cuadro-locutor" *ngFor="let item of locutores;let i =index" [ngStyle]="{'background-image': 'url('+item.imagen+')'}" (click)="change_podcast(item)">


          </div>
        </div>


      </div> -->


        </div>


        <div class="containter-fluid" style="height:100%;padding-top:55px" *ngIf="_radioService.list_podcast">


            <div class="container-top-podcast text-center">


                <img [src]="_radioService.image_podcat" class="img-fluid" style="max-height:200px;max-width:60%">

                <div class="select mt-2">
            <select [(ngModel)]="id_filtro" (change)="chage_filtro()">
                <option value=''>TODOS</option>
                    <option *ngFor="let filtro of filtros" [value]='filtro.id'>{{filtro.filtro}}</option>

            </select>
            <div class="select_arrow">
            </div>
        </div>
            </div>
            <div class=" text-center" style="z-index:99;  position: absolute; width:100%" *ngIf="_radioService.podcast_player">

                <div class="pt-3 text-right" style="color:#161616;padding-right:15px">

                    <img src="assets/img/pausa_black.png" class="img-fluid" style="max-width:40px" (click)="_radioService.pause_podcast()" *ngIf="_radioService.play_podcast==true  && _radioService.load_podcas==false">
                    <img src="assets/img/play_black.png" class="img-fluid" style="max-width:40px" (click)="_radioService.continue_podcast()" *ngIf="_radioService.play_podcast==false && _radioService.load_podcas==false">

                    <div class="lds-roller black" *ngIf="_radioService.load_podcas==true">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>

                    <div class="mt-5 pt-5">
                        <!-- <a [href]="_generealService.file_url"target="
           " download="audio.mp3"><img src="assets/img/descarga_black.png" class="img-fluid" style="max-width:40px;" ></a>-->
                        <!--  <img src="assets/img/descarga_black.png" class="img-fluid" style="max-width:40px;" (click)="descargar()">-->

                        <a [href]="_generealService.file_url" download="{{file_name}}" *ngIf="btn_descarga"><img src="assets/img/descarga_black.png" class="img-fluid" style="max-width:40px;"></a>
                    </div>



                </div>

            </div>

            <div class="container-fluid text-center" style="margin-top:300px;padding-bottom:20%;height: 55%;;overflow-y: scroll;" [ngStyle]="{'background-color': _radioService.emisoras_conf[_radioService.emisora_active].color }" *ngIf="ios">


                <div class="row">
                    <div class="col-12 text-center mt-2  mb-2">
                        <span [ngClass]="{'span-inicio': _radioService.emisoras_conf[_radioService.emisora_active].tipo=='claro', 'span-inicio-obs': _radioService.emisoras_conf[_radioService.emisora_active].tipo == 'obscuro'}">{{_radioService.emisoras_conf[_radioService.emisora_active].nombre}}</span>
                    </div>


                </div>

                <div *ngFor="let item of _radioService.all_podcast;let i=index;last as last" class="list-emisora" >

          <div class="row">
            <div class="col-4 text-center">
              <img [src]="item.imagen" class="img-fluid" style="max-width:100px" (click)="podcast_rep(item)">


            </div>
            <div class="col-8 text-left">
              <span [ngClass]="{'podcast-titulo': _radioService.emisoras_conf[_radioService.emisora_active].tipo=='claro', 'podcast-titulo-obs': _radioService.emisoras_conf[_radioService.emisora_active].tipo == 'obscuro'}">{{item.titulo}}</span>
              <span class=" mb-2" [ngClass]="{'podcast-episodio': _radioService.emisoras_conf[_radioService.emisora_active].tipo=='claro', 'podcast-episodio-obs': _radioService.emisoras_conf[_radioService.emisora_active].tipo == 'obscuro'}">{{item.episodio}}</span>
              <p [ngClass]="{'podcast-descripcion': _radioService.emisoras_conf[_radioService.emisora_active].tipo=='claro', 'podcast-descripcion-obs': _radioService.emisoras_conf[_radioService.emisora_active].tipo == 'obscuro'}">{{item.podcast}}
                <p>
            </div>

          </div>

        </div>

                <!-- <cdk-virtual-scroll-viewport itemSize="1" style="height:100%;padding-bottom:20%" >

                    <div *cdkVirtualFor="let item of _radioService.all_podcast" class="list-emisora">
                        <div class="row">
                            <div class="col-4 text-center">
                                <img [src]="item.imagen" class="img-fluid" style="max-width:100px" (click)="podcast_rep(item)">
                            </div>
                            <div class="col-8 text-left">
                                <span [ngClass]="{'podcast-titulo': _radioService.emisoras_conf[_radioService.emisora_active].tipo=='claro', 'podcast-titulo-obs': _radioService.emisoras_conf[_radioService.emisora_active].tipo == 'obscuro'}">{{item.titulo}}</span>
                                <span class=" mb-2" [ngClass]="{'podcast-episodio': _radioService.emisoras_conf[_radioService.emisora_active].tipo=='claro', 'podcast-episodio-obs': _radioService.emisoras_conf[_radioService.emisora_active].tipo == 'obscuro'}">{{item.episodio}}</span>
                                <p [ngClass]="{'podcast-descripcion': _radioService.emisoras_conf[_radioService.emisora_active].tipo=='claro', 'podcast-descripcion-obs': _radioService.emisoras_conf[_radioService.emisora_active].tipo == 'obscuro'}">{{item.podcast}}
                                    <p>
                            </div>

                        </div>
                    </div>
                </cdk-virtual-scroll-viewport> -->


            </div>

            <div class="container-fluid text-center" style="margin-top:250px;padding-bottom:23%;height: 65%" [ngStyle]="{'background-color': _radioService.emisoras_conf[_radioService.emisora_active].color }" *ngIf="ios==false">


                <div class="row">
                    <div class="col-12 text-center mt-2  mb-2">
                        <span [ngClass]="{'span-inicio': _radioService.emisoras_conf[_radioService.emisora_active].tipo=='claro', 'span-inicio-obs': _radioService.emisoras_conf[_radioService.emisora_active].tipo == 'obscuro'}">{{_radioService.emisoras_conf[_radioService.emisora_active].nombre}}</span>
                    </div>


                </div>

                <!-- <div *ngFor="let item of _radioService.all_podcast;let i=index;last as last" class="list-emisora" >

          <div class="row">
            <div class="col-4 text-center">
              <img [src]="item.imagen" class="img-fluid" style="max-width:100px" (click)="podcast_rep(item)">
            </div>
            <div class="col-8 text-left">
              <span [ngClass]="{'podcast-titulo': _radioService.emisoras_conf[_radioService.emisora_active].tipo=='claro', 'podcast-titulo-obs': _radioService.emisoras_conf[_radioService.emisora_active].tipo == 'obscuro'}">{{item.titulo}}</span>
              <span class=" mb-2" [ngClass]="{'podcast-episodio': _radioService.emisoras_conf[_radioService.emisora_active].tipo=='claro', 'podcast-episodio-obs': _radioService.emisoras_conf[_radioService.emisora_active].tipo == 'obscuro'}">{{item.episodio}}</span>
              <p [ngClass]="{'podcast-descripcion': _radioService.emisoras_conf[_radioService.emisora_active].tipo=='claro', 'podcast-descripcion-obs': _radioService.emisoras_conf[_radioService.emisora_active].tipo == 'obscuro'}">{{item.podcast}}
                <p>
            </div>

          </div>

        </div> -->

                <cdk-virtual-scroll-viewport itemSize="1" style="height:100%;padding-bottom:20%" >

                    <div *cdkVirtualFor="let item of _radioService.all_podcast" class="list-emisora">
                        <div class="row">
                            <div class="col-4 text-center">
                                <img [src]="item.imagen" class="img-fluid" style="max-width:100px" (click)="podcast_rep(item)">
                            </div>
                            <div class="col-8 text-left">
                                <span [ngClass]="{'podcast-titulo': _radioService.emisoras_conf[_radioService.emisora_active].tipo=='claro', 'podcast-titulo-obs': _radioService.emisoras_conf[_radioService.emisora_active].tipo == 'obscuro'}">{{item.titulo}}</span>
                                <span class=" mb-2" [ngClass]="{'podcast-episodio': _radioService.emisoras_conf[_radioService.emisora_active].tipo=='claro', 'podcast-episodio-obs': _radioService.emisoras_conf[_radioService.emisora_active].tipo == 'obscuro'}">{{item.episodio}}</span>
                                <p [ngClass]="{'podcast-descripcion': _radioService.emisoras_conf[_radioService.emisora_active].tipo=='claro', 'podcast-descripcion-obs': _radioService.emisoras_conf[_radioService.emisora_active].tipo == 'obscuro'}">{{item.podcast}}
                                    <p>
                            </div>

                        </div>
                    </div>
                </cdk-virtual-scroll-viewport>


            </div>


        </div>



        <app-mfooter></app-mfooter>


    </mat-sidenav-content>

</mat-sidenav-container>
