.cuadro-locutor{

  background-size: cover;
  background-position: center;
  height: 150px;

}

.list-emisora {
  border-top: 1px solid #161616;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
}

.podcast-titulo {
  color: #161616;
  font-family: 'Roboto';
  font-weight: 700;
  display: block;
}
.podcast-episodio {
  color: #ED1C24;
  font-family: 'Roboto';
  display: block;
}

.podcast-descripcion {
  font-size: 13px;
  color: #161616;
  font-family: 'Roboto';
}

.podcast-titulo-obs {
  color: #fff;
  font-family: 'Roboto';
  font-weight: 700;
  display: block;
}
.podcast-episodio-obs {
  color: #ED1C24;
  font-family: 'Roboto';
  display: block;
}

.podcast-descripcion-obs {
  font-size: 13px;
  color: #fff;
  font-family: 'Roboto';
}

.img-podcast{
  height: 200px;
  width: 60%;
  background-size: cover;
  background-position: center;

}

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 60%;
}    .select select {
        font-family: 'Roboto';
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 7px 10px;
        outline: 0;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #ed1c23;
        border-radius: 0px;
        background: transparent;
        color: 161616;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        .select select::-ms-expand {
            display: none;
        }
        .select select:hover,
        .select select:focus {
            color: #161616;
            background: transparent;
        }
        .select select:disabled {
            opacity: 0.4;
            pointer-events: none;
        }
.select_arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: #ed1c23 transparent transparent transparent;
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-top-color: #ed1c23;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}
