.roboto-bold{
  font-family: 'Roboto' !important;
  font-weight: 700 !important;
}
.roboto-regular{
  font-family: 'Roboto' !important;
  font-weight: 400 !important;
}

.container-acceso {
  background-image: url('../img/fondo_acceso.jpg');
  background-color: #161616;
  height: 100%;
  background-size: cover ;
  background-repeat: no-repeat;
  background-position: center center;
}

.container-acceso-h {
  background-image: url('../img/fondo_acceso.jpg');
  background-color: #161616;
  height: 100%;
  background-size: cover ;
  background-repeat: no-repeat;
  background-position: center center;
}

.container-top-fijo{
  height: 200px;
  padding-top: 5%;
  width: 100%;
  background-color: #161616;
  background-size: cover;
  background-position: center;
}

.container-top-fijo-slider{
  height: 230px;
  padding-top: 5%;
  width: 100%;
  background-color: #161616;
  background-size: cover;
  background-position: center;
}

.icon-emisora-top{
  padding-top: 0%;
}

@media only screen and (max-width: 500px) {
  .icon-emisora-top{
    padding-top: 4%;
  }

  .container-top-fijo{

    padding-top: 10%;

  }
}

.container-top-fijo-g{
  height: 350px;
  padding-top: 10%;
  width: 100%;
  position: absolute;

 z-index: 1;

 display: block;
  -webkit-filter: blur(5px);
 -moz-filter: blur(5px);
 -o-filter: blur(5px);
 -ms-filter: blur(5px);
 filter: blur(5px);
  background-color: #161616;
  background-size: cover;
  background-position: center;
}

.container-top-fijo-md{
  height: 250px;
  padding-top: 10%;
  width: 100%;
  position: absolute;

 z-index: 1;

 display: block;
  -webkit-filter: blur(5px);
 -moz-filter: blur(5px);
 -o-filter: blur(5px);
 -ms-filter: blur(5px);
 filter: blur(5px);
  background-color: #161616;
  background-size: cover;
  background-position: center;
}

.container-top-podcast{
  height: 200px;
  width: 100%;
  position: absolute;
 z-index: 1;
 display: block;
  background-color: transparent;
  background-size: cover;
  background-position: center;
}




.swiper-pagination-bullet{
  background: #fff !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active{
  background: #ED1C24 !important;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 3px !important;
}
.container-img {
  background-image: url('../img/fondo_acceso.jpg');
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.logo_acceso {
  margin-top: 10%;
}

.acceso-op-foo {
  margin-top: 5%;
}

.return-arrow {
  color: #161616;
  padding: 10px;
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  .logo_acceso {
    margin-top: 20%;
  }
  .acceso-op-foo {
    margin-top: 30%;
  }
}
@media only screen and (max-height: 800px) {
  .container-acceso-h {
    height: auto;
    padding-bottom: 20px;
    overflow-y: hidden;
  }
}

/* STYLE MENU*/

.g-side-nav {
  background-color: #00aeef;
  height: 100%
}

.g-contenedor {
  height: 100%;
  background-image: url('../img/fondo_acceso.jpg');
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.g-toolbar {
  color: #FFF !important;
  background-color: #161616 !important;
  position: fixed !important;
  z-index: 999 !important;
}

.g-opciones-header {

  background-color: #ED1C24;
  color: #fff;
  padding: 15px 20px;
}
.titulo-menu {
  display: block;
  color: #fff;
  font-size: 25px;
  font-family: 'Roboto';
}

.usuario-menu {
  display: block;
  color: #fff;
  font-size: 12px;
  font-family: 'Roboto';
}

.menu-seccion {
  padding: 10px 0px;
}
.menu-seccion-titulo {
  padding: 5px 10px;
}
.titulo-seccion-menu {
  color: #DFDFDF;
  font-family: 'Roboto';
  border-bottom: 1px solid #DFDFDF;
}
.menu-element {
  border: none !important;
  padding: 7px 20px;
  list-style: none !important;
  color:#161616;
  text-decoration: none !important;
}
.menu-element.active {
  color:#ED223F;
  background-color:rgb(237,34,63,.2);

}
.text-menu-item {
  padding-left: 5px;
}

.menu-element>a {
  color: #898989;
  font-size: 15px;
  font-family: 'Roboto';
}

.example-spacer {
  flex: 1 1 auto;
}

.texto-header {
  font-size: 15px;
  margin-top: 5px;
  font-family: 'Roboto';
}

.logo-header {
  margin-left: 10%;
}

.span-inicio {
  color: #161616;
  font-family: 'Roboto';
  font-weight: 700;
  display: block;
}
.span-inicio-obs {
  color: #fff;
  font-family: 'Roboto';
  font-weight: 700;
  display: block;
}

.contenedor-principal {
  height: 200px;
  background-color: #161616;
  background-size: cover;
  background-position: center;
}
.contenedor-principal-p {
  height: 200px;
  background-color: #161616;
  background-size: cover;
  background-position: center;
  position: fixed !important;
  z-index: 999 !important;
  width: 100%;
  margin-top:55px;
  -webkit-box-shadow: -1px 14px 22px -16px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 14px 22px -16px rgba(0,0,0,0.75);
box-shadow: -1px 14px 22px -16px rgba(0,0,0,0.75);
}

@media only screen and (max-width:850px) and (orientation: landscape){
  .contenedor-principal-p {
    height: 100%;
    margin-top:64px;
      width: 35%;
      position: fixed !important;
  }
}

.menu-foo {
  bottom: 0;
  z-index: 9999;
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.rep-actual {
  height: 20px;
  background-color: #ed1c23;
  color: #fff;
  font-family: 'Roboto';
  font-size: 13px;
  opacity: .5;
}

.menu-icons {
  height: 60px;
  background-color: #ed1c23;
}

.icon-active {
  background-color: #AB2121;
}

.btn-inicio-rojo {
  background-color: #ed1c23;
  -moz-border-radius: 23px;
  -webkit-border-radius: 23px;
  border-radius: 23px;
  border: 1px solid #ed1c23;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 15px;
  padding: 8px 20px;
  text-decoration: none;
}

.btn-inicio-rojo:hover {
  color: #fff;
}

.btn-rojo-borde {
  background-color: #ed1c23;
  -moz-border-radius: 23px;
  -webkit-border-radius: 23px;
  border-radius: 23px;
  border: 1px solid #161616;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 15px;
  padding: 5px 25px;
  text-decoration: none;
}

.btn-rojo-borde:hover {
  color: #fff;
}

.btn-gris-borde {
  background-color: #A3A3A3;
  -moz-border-radius: 23px;
  -webkit-border-radius: 23px;
  border-radius: 23px;
  border: 1px solid #161616;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 15px;
  padding: 5px 25px;
  text-decoration: none;
}

.btn-gris-borde:hover {
  color: #fff;
}
.btn-rojo {
  background-color: #ed1c23;
  -moz-border-radius: 23px;
  -webkit-border-radius: 23px;
  border-radius: 23px;
  border: 1px solid #ed1c23;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 15px;
  text-decoration: none;
}

.btn-rojo:hover {
  color: #ffffff;
}

.btn-fb {
  background-color: #1B75BC;
  -moz-border-radius: 23px;
  -webkit-border-radius: 23px;
  border-radius: 23px;
  border: 1px solid #1B75BC;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 15px;
  text-decoration: none;
}

.btn-fb:hover {
  color: #ffffff;
}

.btn-blanco {
  background-color: #ffffff;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  border: 1px solid #161616;
  display: inline-block;
  cursor: pointer;
  color: #161616;
  font-family: 'Roboto';
  font-size: 15px;
  text-decoration: none;
}

.btn-blanco-auto {
  background-color: #ffffff;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  border: 1px solid #161616;
  width: 100%;
  display: inline-block;
  cursor: pointer;
  color: #161616;
  font-family: 'Roboto';
  font-size: 13px;
  text-decoration: none;
}

.btn-blanco-auto.active {
  background-color: #ed1c23;
  -moz-border-radius: 23px;
  -webkit-border-radius: 23px;
  border-radius: 23px;
  border: 1px solid #ed1c23;
  cursor: pointer;
  color: #ffffff;
  width: 100%;
  font-family: 'Roboto';
  font-size: 13px;
  text-decoration: none;
}

.bg-gris-top{
  background-image: url('../img/fondo_gris.jpg');
  background-size: cover;
  background-position: center center;
}

.bg-promo{
    background-image: url('../img/banner_promociones.jpg');
  background-size: cover;
  background-position: center center;
}

.bg-cupon{
    background-image: url('../img/banner_cupones.jpg');
  background-size: cover;
  background-position: center center;
}

/* form starting stylings ------------------------------- */

.group {
  position: relative;
  margin-top: 30px;
}

input {
  font-size: 15px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #ed1c23;
}

input:focus {
  outline: none;
}

/* LABEL ======================================= */

label {
  color: #ed1c23;
  font-size: 15px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */

input:focus~label, input:valid~label {
  top: -20px;
  font-size: 14px;
  color: #161616;
}

/* BOTTOM BARS ================================= */

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #ed1c23;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active state */

input:focus~.bar:before, input:focus~.bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */

input:focus~.highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

/* ANIMACION LOADING*/

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}

.lds-roller.red div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #AB2121;
  margin: -3px 0 0 -3px;
}

.lds-roller.black div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #161616;
  margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
