.cuadro-programa {
    background-size: cover;
    background-position: center;
    height: 150px;
}

@media only screen and (orientation: landscape) {
    .cuadro-programa {
        height: 250px;
    }
}

.prog-titulo {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    display: block;
    color: #161616;
}

.noticia-tag {
    font-family: 'Roboto';
    font-size: 15px;
    display: block;
    color: #ED1C24;
}

.noticia-contenido {
    margin-top: 10px;
    font-size: 14px;
    white-space: pre-wrap;
    font-family: 'Roboto';
    color: #161616;
    text-align: left;
}

.prog-titulo-obs {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    display: block;
    color: #fff;
}

.noticia-tag-obs {
    font-family: 'Roboto';
    font-size: 15px;
    display: block;
    color: #ED1C24;
}

.noticia-contenido-obs {
    margin-top: 10px;
    font-size: 14px;
    white-space: pre-wrap;
    font-family: 'Roboto';
    color: #fff;
    text-align: left;
}

.noticia-container {
    padding-top: 360px;
    padding-bottom: 20%;
}

.list-programas {
    border-top: 1px solid #161616;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
}