<mat-sidenav-container class="example-container" autosize [hasBackdrop]="true" style="height:100%">
    <mat-sidenav #sidenav mode="over" class="g-side-nav">

        <app-navopcion></app-navopcion>

    </mat-sidenav>
    <mat-sidenav-content class="g-contenedor">

        <mat-toolbar class="g-toolbar">

            <mat-toolbar-row>
                <span class="return-arrow" (click)="reset_list()" style="color:#fff" *ngIf="noticas_list && noticia_individual==false"><i class="mdi mdi-chevron-left"></i></span>
                <span class="return-arrow" (click)="reset_individual()" style="color:#fff" *ngIf="noticia_individual"><i class="mdi mdi-chevron-left"></i></span>


                <span *ngIf="noticas_list==false && noticia_individual==false"><button type="button" mat-button (click)="sidenav.toggle()">
              <mat-icon class="example-icon" style="color:white">menu</mat-icon>
            </button></span>

                <span class="logo-header"><img src="assets/img/logo_rr_2d_b.png" style="max-width:25px;margin-right:15px" class="img-fluid text-center"></span>
                <span class="texto-header text-center">Respuesta Radiofónica</span>

            </mat-toolbar-row>


        </mat-toolbar>






        <div class="containter-fluid" style="height:90%;" *ngIf="noticas_list==false && noticia_individual==false">



            <div id="slider_1" class="swiper-container" style="height:35%">
                <div class="swiper-wrapper">

                    <div class="swiper-slide" style="background-image:url('assets/slider/91_v2.jpg')" routerLink="/podcast">

                    </div>
                    <div class="swiper-slide" style="background-image:url('assets/slider/top_v2.jpg')" routerLink="/podcast">

                    </div>
                    <div class="swiper-slide" style="background-image:url('assets/slider/chulos.jpg')" routerLink="/podcast">

                    </div>
                    <div class="swiper-slide" style="background-image:url('assets/slider/mia_v2.jpg')" routerLink="/podcast">

                    </div>
                    <div class="swiper-slide" style="background-image:url('assets/slider/jefa_v2.jpg')" routerLink="/podcast">

                    </div>
                    <div class="swiper-slide" style="background-image:url('assets/slider/noticiero.jpg')" routerLink="/podcast">

                    </div>


                </div>

                <div id="slider_1-pag" class="swiper-pagination"></div>
            </div>



            <div class="col-12">

                <div class="row text-center" *ngIf="cargando==true">
                    <div class=" col-sm-12 col-lg-12" style="padding:10% 10%">
                        <div class="lds-roller red">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="row " style="padding-bottom:90px; " *ngIf="cargando==false">

                    <div class="col-xs-12 col-sm-12 mt-2 text-center ">
                        <span class="span-inicio ">Selecciona una emisora para filtrar las noticias:</span>
                    </div>


                    <div class="col-12 mt-2 mb-4 ">


                        <div class="row text-center mt-4 ">
                            <div class="col-4 animated ">
                                <img src="assets/img/91_circular.png " class="img-fluid " (click)="change_noticia(4)">
                            </div>

                            <div class="col-4 animated ">
                                <img src="assets/img/top_circular.png " class="img-fluid " (click)="change_noticia(1)">
                            </div>
                            <div class="col-4 ">
                                <img src="assets/img/z_circular.png " class="img-fluid " (click)="change_noticia(2)">
                            </div>


                        </div>
                        <div class="row text-center mt-4 ">
                            <div class="col-4 ">
                                <img src="assets/img/93_circular.png " class="img-fluid " (click)="change_noticia(5)">
                            </div>

                            <div class="col-4 ">
                                <img src="assets/img/jefa_circular.png " class="img-fluid " (click)="change_noticia(3)">
                            </div>



                            <div class="col-4 ">
                                <img src="assets/img/rr_circular.png " class="img-fluid " (click)="change_noticia(6)">
                            </div>

                        </div>

                    </div>


                </div>

            </div>



        </div>







        <div class="containter" style="height:90%" *ngIf="noticas_list && noticia_individual==false" [ngStyle]="{'background-color': _radioService.emisoras_conf[_radioService.emisora_noticia].color }">
            <div id="slider_2" class="swiper-container">
                <div class="swiper-wrapper">
                    <div *ngFor="let item of noticias_header" class="swiper-slide" [ngStyle]="{'background-image': 'url('+item.imagen+')'}" (click)="ver_noticia(item)">

                        <div style="background-color:#5B5B5B;height:50px;z-index:999;bottom:0;color:#fff;width:100%;position:absolute">
                            <span class="noticia-titulo-header">{{item.titulo}}</span>
                        </div>

                    </div>



                </div>
                <!-- Add Pagination -->
                <div id="slider_2-pag" class="swiper-pagination"></div>
            </div>

            <!-- <div class="container mt-3" style="height:47%" *ngIf="ios==false">
        <cdk-virtual-scroll-viewport itemSize="1" style="height:100%;padding-bottom:20%">
          <div *cdkVirtualFor="let item of noticias_active" class="list-noticias">
            <div class="row" (click)="ver_noticia(item)">
            <div class="col-4" style="height:90px;background-size:cover;background-position:center" [ngStyle]="{'background-image': 'url('+item.imagen+')'}">
              </div>
              <div class="col-8">
                <span [ngClass]="{'noticia-titulo': _radioService.emisoras_conf[_radioService.emisora_noticia].tipo=='claro', 'noticia-titulo-obs': _radioService.emisoras_conf[_radioService.emisora_noticia].tipo == 'obscuro'}">{{item.titulo}}</span>
                <span class="noticia-tag">{{item.resumen}}</span>
            </div>
            </div>
          </div>
        </cdk-virtual-scroll-viewport>
      </div> -->


            <div class="container mt-3" style="height:47%;overflow-y: scroll;">

                <div *ngFor="let item of noticias_active" class="list-noticias">
                    <!-- <div class="row" (click)="ver_noticia(item.id)"> -->
                    <div class="row" (click)="ver_noticia(item)">
                        <div class="col-4" style="height:90px;background-size:cover;background-position:center" [ngStyle]="{'background-image': 'url('+item.imagen+')'}">
                        </div>
                        <div class="col-8">
                            <span [ngClass]="{'noticia-titulo': _radioService.emisoras_conf[_radioService.emisora_noticia].tipo=='claro', 'noticia-titulo-obs': _radioService.emisoras_conf[_radioService.emisora_noticia].tipo == 'obscuro'}">{{item.titulo}}</span>
                            <span class="noticia-tag">{{item.resumen}}</span>
                        </div>
                    </div>
                </div>

            </div>






        </div>


        <div class="containter" style="height:90%" *ngIf="noticia_individual">


            <div class="contenedor-principal-p" [ngStyle]="{'background-image': 'url('+noticia_active.imagen+')'}">


            </div>

            <div class="container noticia-container-i">


                <span class="noticia-tag-i">{{noticia_active.resumen}}</span>
                <hr style="color:#161616">

                <span class="noticia-titulo-i">{{noticia_active.titulo}}</span>
                <span class="noticia-tag-i">{{noticia_active.created_at}}</span>


                <p class="noticia-contenido-i">{{noticia_active.contenido}}</p>


            </div>


        </div>

        <app-btn-pausa></app-btn-pausa>
        <app-mfooter></app-mfooter>


    </mat-sidenav-content>

</mat-sidenav-container>