.swiper-container {
    width: 100%;
    height: 40%;
    margin-top: 55px;
}

.swiper-container_1 {
    width: 100%;
    height: 220px;
    margin-top: 55px;
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    background-position: center;
    background-size: cover;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.bullet-normal {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #00aeef;
    opacity: .2;
}

.bullet-activo {
    opacity: 1;
    background: #ED1C24 !important;
}

.list-noticias {
    border-top: 1px solid #161616;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
}

.noticia-titulo-header {
    font-family: 'Roboto';
    font-size: 12px;
}

.noticia-titulo {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    display: block;
    color: #161616;
}

.noticia-tag {
    font-family: 'Roboto';
    font-size: 15px;
    color: #ED1C24;
}

.noticia-titulo-obs {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    display: block;
    color: #fff;
}

.noticia-tag-obs {
    font-family: 'Roboto';
    font-size: 15px;
    color: #ED1C24;
}


.carousel-control-next,
.carousel-control-prev {
    color: #ed1c23 !important;
}


.noticia-titulo-i{
 font-family:'Roboto';
 font-size:15px;
 font-weight: 500;
 display: block;
 color:#161616;
}

.noticia-tag-i{
  font-family:'Roboto';
  font-size:15px;

  color:#ED1C24;
}
.noticia-contenido-i{
  margin-top: 10px;
white-space: pre-wrap;
font-family: 'Roboto';
color:#161616;

text-align: justify;

}

.noticia-container-i{
    padding-top:  270px;
    padding-bottom: 20%;
}

@media only screen and (max-width:850px) and (orientation: landscape) {
  .noticia-container-i{
      padding-top:  130px;
      padding-bottom: 10%;
  }
}

.ocultar{
  display: none;
}
.mostrar{
  display: block;
}
