

/** Overrides caret & text color **/
.my-form-field.mat-form-field-appearance-legacy .mat-input-element {
    caret-color: #161616 !important;
  color: #161616 !important;
}

.my-form-field.mat-form-field-underline {
   background-color:#00aeef !important;
 }
 .my-form-field.mat-form-field-ripple {
   background-color: #00aeef !important;
 }
