<div class="container-fluid container-acceso text-center">

  <div class="row">
    <span class="return-arrow" routerLink="/acceso"><i class="mdi mdi-arrow-left"></i></span>
    <div class="col-sm-12 col-lg-12 logo_acceso text-center">
      <img src="assets/img/logo_rr.png" class="img-fluid" style="max-width:120px">
    </div>



    <div class="col-sm-12 col-lg-12  text-center">

      <div class="row">
        <div class="col-12 mb-2 mt-2 roboto-bold" *ngIf="invalido">
          ACCESO INVALIDO
        </div>
        <div class="col-12 mb-2 mt-2 roboto-bold " *ngIf="errorfrac">
          NO EXISTE EL USUARIO
        </div>

        <div class="col-12 mb-2" *ngIf="cargando">
          <div class="lds-roller red">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>

        <div class=" col-sm-12 col-lg-12" style="padding:0 10%">
          <form class="form-signin" [formGroup]="forma" (ngSubmit)="check_access()">
            <div class="group" style="width:100%">
              <input type="text" required formControlName="email">
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>E-mail:</label>
            </div>
            <div class="group" style="width:100%">
              <input type="password" required formControlName="password">
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Contraseña:</label>
            </div>

            <div class="group" style="width:100%">
              <div class="row">
                <div class="col-6">
                  <button routerLink="/acceso" class="btn btn-blanco btn-block">Cancelar</button>
                </div>
                <div class="col-6">
                  <button type="submit" [disabled]="!forma.valid || cargando" class="btn btn-inicio-rojo btn-block">Entrar</button>
                </div>
              </div>
            </div>

          </form>

        </div>
      </div>
    </div>



  </div>
</div>
