.list-videos {
    border-top: 1px solid #161616;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 2%;
    width: 100%;
}

.video-titulo {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    display: block;
    color: #161616;
}

.video-titulo-obs {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    display: block;
    color: #fff;
}

.cuadro-galeria{

  background-size: cover;
  background-position: center;
  height: 150px;

}
