<mat-sidenav-container class="example-container" autosize [hasBackdrop]="true" style="height:100%">
    <mat-sidenav #sidenav mode="over" class="g-side-nav">

        <app-navopcion></app-navopcion>

    </mat-sidenav>
    <mat-sidenav-content class="g-contenedor">

        <mat-toolbar class="g-toolbar">

            <mat-toolbar-row>

                <span class="return-arrow" (click)="reset_emisora()" style="color:#fff" *ngIf="list_emisoras  && prog_click==false"><i class="mdi mdi-chevron-left"></i></span>
                <span class="return-arrow" (click)="back_list()" style="color:#fff" *ngIf="prog_click"><i class="mdi mdi-chevron-left"></i></span>
                <span *ngIf="list_emisoras==false && prog_click==false"><button type="button" mat-button (click)="sidenav.toggle()">
              <mat-icon class="example-icon" style="color:white">menu</mat-icon>
            </button></span>

                <span class="logo-header"><img src="assets/img/logo_rr_2d_b.png" style="max-width:25px;margin-right:15px" class="img-fluid text-center"></span>
                <span class="texto-header text-center">Respuesta Radiofónica</span>

            </mat-toolbar-row>


        </mat-toolbar>

        <div class="containter-fluid" style="height:100%;padding-top:55px" *ngIf="prog_click==false">



            <div class="container-top-fijo bg-gris-top">

                <div class="pt-4 text-center " style="color:#161616;" *ngIf="list_emisoras==false">


                    <h5 class="mt-3 roboto-bold">GALERÍA<br><span style="font-size:12px;">videos</span></h5>

                </div>


                <div class="icon-emisora-top text-center" *ngIf="list_emisoras==true">

                    <img [src]="emisora.icon" class="img-fluid" style="max-height:100px">

                </div>




            </div>


            <div class="col-12">
                <div class="row" style="padding-bottom:25%;" *ngIf="list_emisoras==false">

                    <div class="col-xs-12 col-sm-12 mt-2 text-center">
                        <span class="span-inicio">Selecciona tu emisora:</span>
                    </div>


                    <div class="col-12 mt-4 mb-4">


                        <div class="row text-center mt-4">
                            <div class="col-4 animated ">
                                <img src="assets/img/91_circular.png" class="img-fluid" (click)="change_emisora(4)">
                            </div>

                            <div class="col-4 animated ">
                                <img src="assets/img/top_circular.png" class="img-fluid" (click)="change_emisora(1)">
                            </div>
                            <div class="col-4">
                                <img src="assets/img/z_circular.png" class="img-fluid" (click)="change_emisora(2)">
                            </div>


                        </div>
                        <div class="row text-center mt-4">
                            <div class="col-4">
                                <img src="assets/img/93_circular.png" class="img-fluid" (click)="change_emisora(5)">
                            </div>

                            <div class="col-4">
                                <img src="assets/img/jefa_circular.png" class="img-fluid" (click)="change_emisora(3)">
                            </div>



                            <div class="col-4">
                                <img src="assets/img/rr_circular.png" class="img-fluid" (click)="change_emisora(6)">
                            </div>

                        </div>

                    </div>


                </div>

            </div>

            <div class="container-fluid emisoras-container-px text-center" style="height: 65%;overflow-y: scroll" *ngIf="list_emisoras==true" [ngStyle]="{'background-color': _radioService.emisoras_conf[emisora_select].color }">
                <div class="row pb-5">
                    <div class="col-12 text-center mt-2  mb-2">
                        <span class="span-inicio" [ngClass]="{'span-inicio': _radioService.emisoras_conf[emisora_select].tipo=='claro', 'span-inicio-obs': _radioService.emisoras_conf[emisora_select].tipo == 'obscuro'}">Galería de videos:</span>
                    </div>

                    <a class="col-4  cuadro-galeria" href="{{item.link}}"  *ngFor="let item of galeria_active;let i =index" [ngStyle]="{'background-image': 'url('+item.imagen+')'}" >



                    </a>

                </div>

            </div>

<!--
            <div class="container-fluid emisoras-container-px text-center" style="height: 65%; overflow-y: scroll;" *ngIf="list_emisoras==true" [ngStyle]="{'background-color': _radioService.emisoras_conf[emisora_select].color }">
                <div class="row pb-5">
                    <div class="col-12 text-center mt-2  mb-2">
                        <span class="span-inicio" [ngClass]="{'span-inicio': _radioService.emisoras_conf[emisora_select].tipo=='claro', 'span-inicio-obs': _radioService.emisoras_conf[emisora_select].tipo == 'obscuro'}">Galería de videos:</span>
                    </div>

                    <div class="container">
                        <div *ngFor="let item of galeria_active;let i=index;last as last" class="list-videos">

                            <div class="row">
                                <a class="col-4" href="{{item.link}}" style="height:90px;background-size:cover;background-position:center" [ngStyle]="{'background-image': 'url('+item.imagen+')'}">

                                </a>
                                <div class="col-8 text-left">
                                    <span class="video-titulo" [ngClass]="{'video-titulo': _radioService.emisoras_conf[emisora_select].tipo=='claro', 'video-titulo-obs': _radioService.emisoras_conf[emisora_select].tipo == 'obscuro'}">{{item.titulo}}</span>


                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div> -->




        </div>


        <app-btn-pausa></app-btn-pausa>
        <app-mfooter></app-mfooter>


    </mat-sidenav-content>

</mat-sidenav-container>
