<mat-sidenav-container class="example-container" autosize [hasBackdrop]="true" style="height:100%">
    <mat-sidenav #sidenav mode="over" class="g-side-nav">

        <app-navopcion></app-navopcion>

    </mat-sidenav>
    <mat-sidenav-content class="g-contenedor">

        <mat-toolbar class="g-toolbar">

            <mat-toolbar-row>


                <span class="return-arrow" (click)="back_list()" style="color:#fff" *ngIf="cupon_click"><i class="mdi mdi-chevron-left"></i></span>
                <span *ngIf="list_cupon && cupon_click==false"><button type="button" mat-button (click)="sidenav.toggle()">
              <mat-icon class="example-icon" style="color:white">menu</mat-icon>
            </button></span>

                <span class="logo-header"><img src="assets/img/logo_rr_2d_b.png" style="max-width:25px;margin-right:15px" class="img-fluid text-center"></span>
                <span class="texto-header text-center">Respuesta Radiofónica</span>

            </mat-toolbar-row>


        </mat-toolbar>

        <div class="containter-fluid" style="height:100%;padding-top:55px" *ngIf="cupon_click==false">



            <div class="container-top-fijo bg-cupon">

                <!-- <div class="pt-4 text-center " style="color:#161616;">


                    <h5 class="mt-3 roboto-bold">CUPONES</h5>

                </div> -->


                <div class="col-12" *ngIf="load_init" style="margin-top:210px">
                  <div class="row text-center" >
                    <div class=" col-sm-12 col-lg-12" style="padding:10% 10%">
                      <div class="lds-roller red">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12" *ngIf="block_area && load_init==false" style="margin-top:210px">
                  <div class="row text-center" >
                    <div class=" col-sm-12 col-lg-12" style="padding:10% 10%">
                    <h5>¡Oops! Para ver los cupones es necesario que inicies sesión.</h5>
                    </div>
                  </div>
                </div>

            </div>





            <div class="container-fluid" style="padding-bottom:25%;" *ngIf="list_cupon && block_area==false">
                <div class="row pb-5">
                    <div class="col-12 text-center mt-2  mb-2">
                        <span class="span-inicio">Selecciona el cupón que quieres usar:</span>
                    </div>

                    <div class="col-4  cuadro-programa" *ngFor="let item of cupones; let i =index" [ngStyle]="{'background-image': 'url('+item.imagen+')'}" (click)="ver_cupon(item)">

                    </div>

                </div>
            </div>
        </div>



        <div class="containter-fluid" style="padding-top:55px;padding-bottom:25%;" *ngIf="cupon_click && block_area==false">



            <div class="col-md-12 text-center pt-3 pb-3">
                <img [src]="cupon_select.imagen" alt="" class="img-fluid">
            </div>
            <div class="col-md-12  text-center ">

                <span class="prog-titulo">{{cupon_select.titulo}}</span>
                <span class="noticia-tag">{{cupon_select.vence}}</span>
                <span class=" btn  btn-rojo-borde mt-3 mb-3">{{cupon_select.cupon}}</span>
                <p class="noticia-contenido">{{cupon_select.condiciones}}</p>

            </div>




        </div>




        <app-btn-pausa></app-btn-pausa>
        <app-mfooter></app-mfooter>






    </mat-sidenav-content>

</mat-sidenav-container>
