<div class="menu-foo">

  <div class="rep-actual text-center">
    <p>{{_radioService.radio_text}}</p>
  </div>

  <div class="menu-icons">
    <div class="row text-center ">

      <div class="col-3 pt-2 text-center"  routerLink="/noticias" routerLinkActive="icon-active">
        <img src="assets/img/noticia_icon.png" class="img-fluid" style="max-height:20px">
        <span style="font-size:13px;color:#fff;display:block">Noticias</span>
      </div>
      <div class="col-3 pt-2 pb-2  text-center"  routerLink="/radio" routerLinkActive="icon-active">
        <img src="assets/img/radio_icon.png" class="img-fluid" style="max-height:20px">
        <span style="font-size:13px;color:#fff;display:block">Radio</span>
      </div>

      <div class="col-3 pt-2 text-center" routerLink="/promociones" routerLinkActive="icon-active">
        <img src="assets/img/promocion_icon.png" class="img-fluid" style="max-height:20px">
        <span style="font-size:13px;color:#fff;display:block">Promociones</span>
      </div>

      <div class="col-3 pt-2 pb-2 text-center"  routerLink="/cupon" routerLinkActive="icon-active">
        <img src="assets/img/cupon_icon.png" class="img-fluid" style="max-height:20px">
        <span style="font-size:13px;color:#fff;display:block">Cupones</span>
      </div>



    </div>

  </div>

</div>
