<div class="container-fluid container-acceso text-center">

    <div class="row" *ngIf="_accesoService.loading==true || cargando_social==true">
        <div class="col-sm-12 col-lg-12 logo_acceso text-center">
            <img src="assets/img/logo_rr.png" class="img-fluid" style="max-width:120px">
        </div>

        <div class="col-sm-12 col-lg-12 acceso-op-foo text-center">
            <div class="row">
                <div class=" col-sm-12 col-lg-12" style="padding:0 10%">
                    <div class="lds-roller red">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="_accesoService.loading==false && cargando_social==false">
        <div class="col-sm-12 col-lg-12 logo_acceso text-center">
            <img src="assets/img/logo_rr.png" class="img-fluid" style="max-width:120px">
        </div>

        <div class="col-sm-12 col-lg-12 acceso-op-foo text-center">
            <div class="row">
                <div class=" col-sm-12 col-lg-12" style="padding:0 10%">
                    <span class="span-inicio">Inicio de sesión:</span>
                    <button class="btn btn-inicio-rojo btn-block" routerLink="/login">Iniciar sesión</button>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-12  text-center" style="padding:4% 10%">
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-fb btn-block btn-sm" (click)="signInWithFB()"><i class="mdi mdi-facebook" style="font-size:1.2rem"></i>  Facebook</button>
                </div>
                <div class="col-6">
                    <button class="btn btn-rojo btn-block btn-sm" (click)="signInWithGoogle()"><i class="mdi mdi-google" style="font-size:1.2rem" > </i>  Google</button>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-12  text-center mt-5" style="padding:4% 10%">
            <div class="row">
                <div class="col-12">
                    <button routerLink="/registro" class="btn btn-blanco btn-block">Registrarme con mi correo</button>
                </div>
                <div class="col-12 mt-2">
                    <button routerLink="/noticias" class="btn btn-blanco btn-block ">Omitir registro</button>
                </div>


            </div>
        </div>

    </div>
</div>
