<mat-sidenav-container class="example-container" autosize [hasBackdrop]="true" style="height:100%">
    <mat-sidenav #sidenav mode="over" class="g-side-nav">

        <app-navopcion></app-navopcion>

    </mat-sidenav>
    <mat-sidenav-content class="g-contenedor">

        <mat-toolbar class="g-toolbar">

            <mat-toolbar-row>

                <span class="return-arrow" (click)="reset_emisora()" style="color:#fff" *ngIf="list_emisoras  && prog_click==false"><i class="mdi mdi-chevron-left"></i></span>
                <span class="return-arrow" (click)="back_list()" style="color:#fff" *ngIf="prog_click"><i class="mdi mdi-chevron-left"></i></span>
                <span *ngIf="list_emisoras==false && prog_click==false"><button type="button" mat-button (click)="sidenav.toggle()">
              <mat-icon class="example-icon" style="color:white">menu</mat-icon>
            </button></span>

                <span class="logo-header"><img src="assets/img/logo_rr_2d_b.png" style="max-width:25px;margin-right:15px" class="img-fluid text-center"></span>
                <span class="texto-header text-center">Respuesta Radiofónica</span>

            </mat-toolbar-row>


        </mat-toolbar>

        <div class="containter-fluid" style="height:100%;padding-top:55px" *ngIf="prog_click==false">



            <div class="container-top-fijo bg-gris-top">

                <div class="pt-4 text-center " style="color:#161616;" *ngIf="list_emisoras==false">


                    <h5 class="mt-3 roboto-bold">EMISORAS</h5>

                </div>


                <div class="icon-emisora-top text-center" *ngIf="list_emisoras==true">

                    <img [src]="emisora.icon" class="img-fluid" style="max-height:100px">

                </div>




            </div>

            <div class="col-12">
                <div class="row" style="padding-bottom:25%;" *ngIf="list_emisoras==false">

                    <div class="col-xs-12 col-sm-12 mt-2 text-center">
                        <span class="span-inicio">Selecciona tu emisora:</span>
                    </div>


                    <div class="col-12 mt-4 mb-4">


                        <div class="row text-center mt-4">
                            <div class="col-4 animated ">
                                <img src="assets/img/91_circular.png" class="img-fluid" (click)="change_emisora(4)">
                            </div>

                            <div class="col-4 animated ">
                                <img src="assets/img/top_circular.png" class="img-fluid" (click)="change_emisora(1)">
                            </div>
                            <div class="col-4">
                                <img src="assets/img/z_circular.png" class="img-fluid" (click)="change_emisora(2)">
                            </div>


                        </div>
                        <div class="row text-center mt-4">
                            <div class="col-4">
                                <img src="assets/img/93_circular.png" class="img-fluid" (click)="change_emisora(5)">
                            </div>

                            <div class="col-4">
                                <img src="assets/img/jefa_circular.png" class="img-fluid" (click)="change_emisora(3)">
                            </div>



                            <div class="col-4">
                                <img src="assets/img/rr_circular.png" class="img-fluid" (click)="change_emisora(6)">
                            </div>

                        </div>

                    </div>


                </div>

            </div>


        </div>
        <div class="container-fluid container-full-emisora text-center" *ngIf="prog_click==true" [ngStyle]="{'background-image': 'url('+emisora.bg+')'}">
            <div class="row pb-5">
                <div class="col-12 text-center mt-2  mb-2">
                    <img [src]="emisora.icon" class="img-fluid" style="max-height:100px">
                </div>


                <div class="col-12 text-center pt-5 mt-4  mb-2">
                    <span class="emisora-name" [ngStyle]="{'color': emisora.color}">{{emisora.nombre}}</span>
                </div>
                <div class="col-12 text-center  mb-2" style="padding-left:5%;padding-right:5%">
                    <span class="emisora-descrip" [ngStyle]="{'color': emisora.color}">{{emisora.descrip}}</span>
                </div>
                <div class="col-12 text-center mt-5 mb-2">
                    <a href="{{emisora.web}}" class="btn btn-rojo-borde btn-sm">Ir al sitio </a>
                </div>






            </div>

        </div>


        <app-btn-pausa ></app-btn-pausa>
        <app-mfooter></app-mfooter>


    </mat-sidenav-content>

</mat-sidenav-container>
