.container-full-emisora{
width: 100%;
min-height:100%;
height: auto;
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
}

.emisora-name
{
  font-weight: bold;
}
.emisora-descrip{

}
